[2020-09-18 07:45] joaomoreno opened #1 "Keep cursor position stable"
It would be great if we could keep the cursor position stable:

![recording (3)](https://user-images.githubusercontent.com/22350/93570676-a8757480-f993-11ea-8da4-c9828b60c6e5.gif)

[2020-09-18 07:47] joaomoreno opened #2 "Should not work inside comments"
![recording (4)](https://user-images.githubusercontent.com/22350/93570805-dce93080-f993-11ea-9143-7f50c65e4370.gif)

[2020-09-18 16:02] meganrogge commented on #2
Fixed now in version 0.0.3

[2020-09-18 16:02] #2 closed

[2020-09-18 17:53] meganrogge commented on #1
fixed in the 0.0.4 version

[2020-09-18 17:53] #1 closed

[2020-09-22 17:21] mjbvz opened #3 "Use more readable extension title"
To help more users find this extension, try removing the hyphens from the extension name:

<img width="473" alt="Screen Shot 2020-09-22 at 10 20 04 AM" src="https://user-images.githubusercontent.com/12821956/93915692-3f586e80-fcbd-11ea-9ee9-daa32cef47c8.png">

[2020-09-22 17:22] mjbvz commented on #3
This comes from the `displayName` entry in the `package.json`

[2020-09-22 17:23] mjbvz opened #4 "Mention JavaScript and TypeScript to help users discover the extension"
In your extension's description, try mentioning that this extension is for JavaScript and TypeScript

You can also add a `keywords` section to the `package.json` to includes `javascript` and `typescript`.

Both of these should help more users find this extension

[2020-09-22 18:51] #4 closed

[2020-09-22 18:51] #3 closed

[2020-09-25 01:27] roblourens opened #5 "Cannot read property 'range' of undefined"
I noticed these errors repeated over and over when typing in a large multiline template string.

[code]

[2020-09-25 01:55] meganrogge commented on #5
As of now this only works for single line strings.

[2020-09-25 05:03] mjbvz opened #6 "Extension does not work if 'Editor: Auto closing brackets' is set to `always`"
Issue Type: <b>Bug</b>

**Repro**
1. In the VS Code settings, set `Editor: auto closing brackets` to `always`
1. Now go to a JS file and create a empty string with double quotes
1. Inside the string, type `${`
1. Because auto closing brackets is set to `always`, this should result in:

[code]

**Bug**
The string is not converted to a template string in this case

Extension version: 0.0.7
VS Code v

[2020-09-25 05:06] mjbvz commented on #5
This happens for me when ever the file is saved (which happens a lot if auto save is enabled)

In the case of save, I believe `onDidChangeTextDocument` is fired but there may not be any `contentChanges`

[2020-09-28 19:18] #5 closed

[2020-09-28 19:18] #6 closed

[2020-09-30 13:20] alyahmedaly opened #7 "I expect this extension should only work in typescript or javascript only"
I expect this extension should only work in typescript or JavaScript only but it's also working on other files type like scss
I know ${} is not valid scss but maybe check can make it better or only activate the extension when user open js or ts file.

Thanks for your awesome extension.

[2020-09-30 22:33] mjbvz opened #8 "Enable in .tsx and .jsx files"
Issue Type: <b>Bug</b>

Enable this extension in TypeScript react (`.tsx`) and JavaScript react (`.jsx) files

These have language ids of `typescriptreact` and `javascriptreact`

Extension version: 0.1.0
VS Code version: Code - Insiders 1.50.0-insider (0c50e1db17168a738235bd7e5c02b9f05ea5df59, 2020-09-30T06:45:45.996Z)
OS version: Darwin x64 19.6.0

[2020-09-30 22:34] mjbvz commented on #8
The extension already does work in these files but it looks like it is not activated by them. The [activation events](https://github.com/meganrogge/template-string-converter/blob/13eadfe079fc800b2b1575ecd56cbb634996ff80/package.json#L12) likely just need to be updated to include these language ids

[2020-09-30 22:36] mjbvz opened #9 "Wrong result if there are multiple strings on a single line"
Issue Type: <b>Bug</b>

For the code:

[code]

Inside the first string, type `${`

**Expected**
This should result in:

[code]

**Actual**
Both strings are converted to a template string:

[code]

Extension version: 0.1.0
VS Code version: Code - Insiders 1.50.0-insider (0c50e1db17168a738235bd7e5c02b9f05ea5df59, 2020-09-30T06:45:45.996Z)
OS version: Darwin x64 19.6.0

[2020-10-01 19:02] #9 closed

[2020-10-01 19:04] meganrogge commented on #8
fixed in version 0.1.1

[2020-10-01 19:04] #8 closed

[2020-10-01 20:13] meganrogge commented on #7
solved in version 0.1.1

[2020-10-01 20:13] meganrogge commented on #7
solved in version 0.1.1

[2020-10-01 20:13] #7 closed

[2020-10-02 23:14] mjbvz opened #10 "Does not work if the line ends with a single line comment"
**Repro**
1. With a JS file:

[code]

2. Try typing `${` inside the string

**Bug**
The converter does not kick in for this case

[2020-10-03 16:55] tao-cumplido opened #11 "should not convert quotes already in template literal"
I just noticed when you have something like

[code]

the plugin wrongly detects the inner `"` quotes and converts them to `` ` `` when typing `${` inside, so the above turns into

[code]

which is invalid code

[2020-10-03 18:04] meganrogge commented on #11
This extension shouldn’t work for html files. I will look into this.

[2020-10-03 18:37] tao-cumplido commented on #11
I don't think the tagged template is detected as html file just because the function is named `html`. I am using [lit-html](https://lit-html.polymer-project.org/) by the way.

[2020-10-03 18:41] meganrogge commented on #11
Oh okay that’s helpful to know. I think I know how to solve this and will implement the fix soon.

[2020-10-03 18:57] meganrogge commented on #10
resolved in v 0.1.3

[2020-10-03 18:57] #10 closed

[2020-10-03 18:57] meganrogge commented on #11
resolved in 0.1.3 which should be available in a few minutes.

[2020-10-03 18:57] #11 closed

[2020-10-03 21:10] roblourens opened #12 "Don't console.log on startup"
That console.log message will show up in the developer tools for everyone, or when debugging another extension with your extension installed, so it's best to remove it before publishing.

[2020-10-03 21:47] meganrogge commented on #12
Great point thanks. Fixed

[2020-10-03 21:47] #12 closed

[2020-10-04 12:29] tao-cumplido commented on #11
Hey, thanks for the quick fix. I just noticed that it is still a problem in multiline template literals.

[code]
will result in
[code]

[2020-10-04 14:52] meganrogge commented on #11
At this time multiline isn’t supported. I might work on that soon though.

[2020-10-06 05:08] mantou132 opened #13 "When input '*://${', it will not be converted automatically"

[2020-10-07 17:53] meganrogge commented on #13
fixed!

[2020-10-07 17:53] #13 closed

[2020-10-12 02:08] utadachiren opened #15 "In jsx props, I expect this convert feature"
Sorry, I couldn't make it a concise title, I couldn't put it into words. But it's easy to express in code.

from

[code]

to

[code]

[2020-10-12 21:50] meganrogge commented on #15
Hi, can you please describe the use case of this more broadly? Is this a specific feature of jsx?

[2020-10-13 10:30] karlhorky commented on #15
So, I believe this request is about supporting the single and double quotes in JSX props.

For example, both of the components in this code here below are using hardcoded string values as the value for the `name` prop:

[code]

If they were to be updated to use a `${` inside of the values, such as this step here:

[code]

...then the Template String Converter VS Code Plugin could convert them to t

[2020-10-13 13:33] RobiFerentz opened #16 "Suggestion: If ${} is removed, turn back into a regular string."
It's a common lint rule that if there are no variables in string, it should not be a template string, so this could really help avoid lint errors. (yes, I'm aware that formatting can fix this, but on the fly is nicer)

[2020-10-13 15:16] meganrogge commented on #15
Thanks for the additional info. This works as is shown below.

![example](https://user-images.githubusercontent.com/29464607/95880321-3abb2f00-0d2c-11eb-8ff6-45732e1aed1c.gif)

[2020-10-13 16:08] karlhorky commented on #15
Ah, sorry about this - I made a mistake in my post above! (now updated)

In JSX, if you want to use a template string in a prop, you need to wrap it in curly brackets, like this:

[code]

[2020-10-14 14:29] karlhorky commented on #15
Almost - the curly brackets (to create an [embedded expression](https://reactjs.org/docs/introducing-jsx.html#embedding-expressions-in-jsx)) should be added **only if they don't exist already**.

So a pseudo-code algorithm could look like this:

1. Are we inside a tag? (either `<...>` or `<.../>`)
2. Are we in the value of a prop? (eg. we're in between `propName="` and `"` in this code: `<tagname

[2020-10-15 22:50] EliasGcf commented on #16
This would be very good

[2020-10-16 05:09] utadachiren commented on #15
Thank you karlhorky. you have filled in all the missing pieces.

[2020-10-17 02:11] meganrogge commented on #15
@karlhorky @utadachiren thank you for the feedback and info. I've been pretty busy this week, but hope to get to this sometime next week.

[2020-10-17 02:13] meganrogge commented on #16
I like this idea, but think the implementation would be complicated / out of scope for this extension. I'll leave this open to see how much enthusiasm this garners though.

[2020-10-19 01:54] meganrogge commented on #15
alright @karlhorky @utadachiren @capaj try it out and let me know what you think.

[2020-10-19 01:54] #15 closed

[2020-10-19 08:59] karlhorky commented on #15
wowow so fast, thanks @meganrogge! I'll give it a go!

[2020-10-19 09:12] karlhorky commented on #15
Hm... just upgraded to version 0.2.0 and... it doesn't seem to be working (at least with `javascript` and `javascriptreact` syntaxes).

Am I doing something wrong?

### `javascript` syntax

![Kapture 2020-10-19 at 11 09 36](https://user-images.githubusercontent.com/1935696/96424911-ad7c4c80-11fb-11eb-9d3b-1a139d5a0c1c.gif)

### `javascriptreact` syntax

![Kapture 2020-10-19 at 11 09 58](https://us

[2020-10-19 13:17] meganrogge commented on #15
I made it such that this only works when you’re assigning a variable. So try `let result=` that expression please. The reason for doing this is I want to be sure it’s not firing for non-props. Let me know if you think there’s a better way to restrict this.

[2020-10-19 14:18] karlhorky commented on #15
hmm... not sure exactly what you mean. Where would I put `let result=`? This is not a JavaScript expression.

Ok, I tried writing the following in a `javascriptreact` file:

[code]

...and tried adding `${` inside the quotes after `"`, but this also didn't work (no effect, no changing of quotes).

[2020-10-19 14:31] meganrogge commented on #15
Sorry about this - I’ll investigate. It was working for me last night.

[2020-10-19 15:16] loilo opened #18 "Wrong conversion for nested strings"
Issue Type: Bug

---

Here's a GIF of me reproducing the issue:

![The issue author reproducing the issue in VS Code](https://user-images.githubusercontent.com/1922624/96470489-a0c51c00-122e-11eb-8132-4d3162f920d9.gif)

---

For the code:

[code]

After the "Hello", type `${`

**Expected**
This should result in:

[code]

**Actual**
The part between the double quotes is converted:

[code]

Extensio

[2020-10-19 15:21] loilo commented on #18
I just realized that the extension generally does not seem to work in single-quote strings that contain a double quote.

If you take the same example string from above:

[code]

And type `${` after "said", nothing will happen.

[2020-10-19 16:19] meganrogge commented on #15
![recording (7)](https://user-images.githubusercontent.com/29464607/96477987-fdebae00-11eb-11eb-9179-98e056b201f3.gif)

@karlhorky it should now work in v 0.2.1

[2020-10-20 00:09] utadachiren commented on #15
This is the behavior I was hoping for.
thanks @meganrogge @karlhorky

[2020-10-20 10:00] karlhorky commented on #15
Thanks @meganrogge ! It works in some simple cases! 🙌

However, there are still a few bugs. For example:

1. an element that has a `-` in the prop value
2. multiple props

See in the gif:

![Kapture 2020-10-20 at 11 54 34](https://user-images.githubusercontent.com/1935696/96571274-a15fc000-12cb-11eb-8265-879cc6d182fd.gif)

...or using something else, like using JS Object Spread to put all of the p

[2020-10-21 06:51] BobbieGoede commented on #18
This works as expected by setting `template-string-converter.quoteType` to `single` in settings on my end.

[2020-10-21 21:12] loilo commented on #18
So, is this a "works as intended", @meganrogge?

[2020-10-21 21:12] meganrogge commented on #15
@karlhorky should now work for all of the above

[2020-10-21 21:28] meganrogge commented on #18
@lolio yes. are you suggesting it should work another way?

[2020-10-22 08:52] loilo commented on #18
From an intuitive perspective I'd say yes. The extension should not change the *contents* of my string (which it currently does when replacing double quotes with backticks *inside* the single-quoted string).

The `"Hello world!"` from my original example is just as much an arbitrary substring as `said: "Hello` or `!"`; none of those have any semantic meaning. Therefore I would not expect it to be

[2020-10-22 08:57] karlhorky commented on #15
Great, looking really good! Thanks @meganrogge ! 🙌

One last broken case that I can think of is newlines:

[code]

![Kapture 2020-10-22 at 10 55 51](https://user-images.githubusercontent.com/1935696/96848959-5671b400-1455-11eb-9fa3-cf61b3f89a7b.gif)

[2020-10-22 12:04] meganrogge commented on #15
@karlhorky that's expected. As of now, this extension doesn’t deal with multiline.

[2020-10-22 14:17] karlhorky commented on #15
Ok, I will open a separate issue about this, in case anyone ends up searching for this.

Thanks for your hard work on this!

[2020-10-22 14:18] meganrogge commented on #15
@karlhorky can you pls specify that this is a known issue?

[2020-10-22 14:18] karlhorky opened #20 "Conversion of React JSX Props on newlines fails"
JSX props (React) on their own lines do not convert correctly to template strings:

[code]

![Kapture 2020-10-22 at 10 55 51](https://user-images.githubusercontent.com/1935696/96848959-5671b400-1455-11eb-9fa3-cf61b3f89a7b.gif)

[2020-10-22 14:19] karlhorky commented on #15
Will do, sure!

[2020-10-22 14:20] karlhorky commented on #20
This is a known issue with the extension (see https://github.com/meganrogge/template-string-converter/issues/15#issuecomment-714446898 for background)

[2020-10-27 02:14] #16 closed

[2020-10-27 02:14] #18 closed

[2020-10-27 14:00] Tyriar opened #21 "Respect editor.autoClosingBrackets = never"
I have `"editor.autoClosingBrackets": "never"` set and when I do my normal thing this ends up happening:

![recording (2)](https://user-images.githubusercontent.com/2193314/97311795-fa76a900-1821-11eb-97d6-e04ddaffcf0f.gif)

Can the extension check that setting and if it's `never`, still convert to a template string but not inject the trailing `}` and not move the cursor?

[2020-10-27 14:01] Tyriar opened #22 "Typing ${} quickly will not convert to template string"
Related: https://github.com/meganrogge/template-string-converter/issues/21

Typing `${}` quickly will move cursor to the middle of them but not convert to a template string.

![recording (3)](https://user-images.githubusercontent.com/2193314/97311990-3a3d9080-1822-11eb-82b9-361b841b85a0.gif)

[2020-10-27 15:48] meganrogge commented on #21
Yes that shouldn’t be happening. I will look into it today. Did this just happen for the first time recently? I just merged a PR

[2020-10-29 15:56] Tyriar commented on #21
That's actually showing the problem I'm having; when `"editor.autoClosingBrackets": "never"` is set, I do not want the extension to add the `}` since users of that setting prefer to type the closing bracket themselves.

[2020-10-29 16:58] meganrogge commented on #21
@Tyriar got it. I will add a conditional that checks that today.

[2020-10-29 22:06] meganrogge commented on #21
fixed in v 0.2.5 that should be live in a few minutes! @Tyriar

[2020-10-29 22:06] #21 closed

[2020-10-29 22:06] #22 closed

[2020-11-08 00:49] joshxyzhimself opened #23 "edge case"
on this sample string,

[code]

typing "${}" within the double quotes turns it to

[code]

[2020-11-08 01:02] meganrogge commented on #23
Yes that looks like a valid bug. I will fix it soon. Good catch!

[2020-11-09 03:27] #23 closed

[2020-11-09 03:27] meganrogge commented on #23
fixed @joshxyzhimself

[2020-11-09 06:28] joshxyzhimself commented on #23
Woah that was fast, thank you very much @meganrogge! love this extension very helpful 💯 💯

[2020-11-12 02:09] ktutnik opened #24 "Possible to use with multiple cursor?"
Thanks for creating this great tool.

I notice that the multiple cursor is till not supported, any plan to add it in near future?

[2020-11-12 02:26] meganrogge commented on #24
@ktutnik cool idea. i'll work on it

[2020-11-12 02:41] meganrogge commented on #24
![recording (34)](https://user-images.githubusercontent.com/29464607/98888806-83f6bf80-244d-11eb-9dcd-ebdb4facf78b.gif)
need to do some more validation tomorrow to make sure it won't break anything, but it's looking pretty good. should be released soon. @ktutnik

[2020-11-12 02:44] ktutnik commented on #24
That's fast!

Thank you @meganrogge for making this feature available quickly

[2020-11-12 02:45] meganrogge commented on #24
I’ll push the updated version tomorrow. Thanks for the idea!

[2020-11-12 04:19] meganrogge commented on #24
done, should be live in a few minutes

[2020-11-12 04:19] #24 closed

[2020-11-12 15:30] bduffany opened #25 "Does not handle nested quotes"
Input:

[code]

Actual result:

[code]

Expected result:

[code]

[2020-11-12 17:34] meganrogge commented on #25
Thanks for the issue. I've made this setting `template-string-converter.convertOutermostQuotes`, which is false by default. going to do a bit more testing then will push the changes.
![recording (35)](https://user-images.githubusercontent.com/29464607/98974791-29e80f80-24ca-11eb-8ade-5d9bf56c73f8.gif)

[2020-11-12 17:48] #25 closed

[2020-11-12 18:23] bduffany commented on #25
Just curious, why false by default? To me it seems kinda odd to have to enable a flag in order to fix a bug.

[2020-11-12 18:25] JacksonKearl opened #26 "Converting strings that contain backticks?"
This is a bit specific so feel free to `*out-of-scope`, but it'd be nice if this could turn:

[code]
into
[code]

[2020-11-12 18:31] meganrogge commented on #25
I don't want to surprise people with new behavior. I can see the argument for setting it to `true` by default though.

[2020-11-12 19:40] meganrogge commented on #26
not sure I understand the use case.....

[2020-11-12 19:49] JacksonKearl commented on #26
It's a narrow use case, but I needed to build markdown strings using templates.

[2020-11-12 20:23] meganrogge commented on #26
it does seem out of scope to me, but I could always add a setting that looks for this specific case. do you think others would find it useful?

[2020-11-12 22:28] JacksonKearl commented on #26
I don't think there's much value to adding this as a specific case, but in general I'd expect it to still work if the string contains backtics and simply escape them.

[2020-11-12 23:14] meganrogge commented on #26
I think most people don't want this to work if they're within backticks, such as #23 .

[2020-11-12 23:45] JacksonKearl commented on #26
That's a different thing, what I'm taking about is
[code]
to
[code]

[2020-11-13 00:39] meganrogge commented on #26
I think this is out of scope for now because the extension primarily focuses on the presence of quotes around the ${ as a precursor to any replacement. Thanks for the idea though.

[2020-11-13 00:39] #26 closed

[2020-11-13 18:02] roblourens opened #27 "Fails inside quotes in multiline template string"
Have a string in backticks, that contains quotes after the first line, like this

[code]

Then type `${}` inside the quotes on the second line. It changes the inner quotes to backticks and breaks my string:

[code]

[2020-11-13 18:46] #27 closed

[2020-11-14 03:53] la-magbanua opened #28 "converting makes the cursor go to the end of the line"
Converting a simple string results into the cursor moving to the end which is kinda hassle. This didn't occur in the previous versions.

![image](https://user-images.githubusercontent.com/56512548/99139001-f941da80-266f-11eb-9976-282ab01693f4.png)

[2020-11-14 04:01] meganrogge commented on #28
Thanks for letting me know - that’s not supposed to happen.  Can you pls share your settings w me? There have been some recent changes.

[2020-11-14 04:04] meganrogge commented on #28
![recording (40)](https://user-images.githubusercontent.com/29464607/99139176-6cedd400-25eb-11eb-8af6-204f760a16d7.gif)

not able to reproduce with the settings that I have.

[2020-11-14 04:30] la-magbanua commented on #28
Here are my settings:
{
  "workbench.startupEditor": "newUntitledFile",
  "window.menuBarVisibility": "toggle",
  "editor.fontFamily": "JetBrains Mono",
  "editor.tabSize": 2,
  "editor.wordWrap": "bounded",
  "editor.lineHeight": 24,
  "editor.mouseWheelScrollSensitivity": 1.5,
  "workbench.editor.enablePreview": false,
  "workbench.editor.enablePreviewFromQuickOpen": false,
  "editor.snippetSugg

[2020-11-14 14:35] meganrogge commented on #28
Thanks! Can you pls check what your template string converter extension settings are in the settings UI?

[2020-11-14 22:25] la-magbanua commented on #28
I didn't touch any configuration setting of the template string converter. I use it as it is whenever I install it.

[2020-11-14 22:28] meganrogge commented on #28
Very strange and since I can’t reproduce, I’d suggest reverting to a prior version of the extension that was working for you using these instructions. https://stackoverflow.com/questions/42626065/vs-code-rollback-extension-install-specific-extension-version/53755378

[2020-11-14 22:53] la-magbanua commented on #28
I installed the previous version and it strangely works now. Thanks!

[2020-11-14 22:56] #28 closed

[2020-11-15 05:26] meganrogge commented on #18
@loilo I've now added a setting that handles nested quotes as you describe.

[2020-11-15 09:16] loilo commented on #18
Works like a charm — thank you!

[2020-11-21 14:47] Glaived commented on #28
@meganrogge
I have the same problem

Template String Converter v0.3.0

`code --list-extensions`:

[code]

vscode settings:
[code]

[2020-11-21 15:32] meganrogge commented on #28
@Glaived thanks for sharing your settings. Can you see what happens if you set one or both of these to false?
![CA12FC7F-4235-47CF-A301-5EC561E56706](https://user-images.githubusercontent.com/29464607/99880976-d752d580-2be4-11eb-95cc-599785637c99.jpeg)

[2020-11-21 16:08] Glaived commented on #28
| autoRemoveTemplateString | convertOutermostQuotes | Result |
|--------------------------|------------------------|--------|
| ❌                       | ❌                     |😟|
| ❌                       | ✔️                     |😟|
| ✔️                       | ❌                     |😟|
| ✔️                       | ✔️                     |😟|

[2020-11-21 16:24] meganrogge commented on #28
So strange that I can’t reproduce the issue. For now, I’d suggest reverting to a prior version that worked and I’ll look into it later today.

[2020-11-22 02:57] meganrogge commented on #28
@Glaived @la-magbanua finally able to reproduce and fix should be in very soon!

[2020-11-22 23:04] meganrogge commented on #28
Resolved in version 0.3.1, which will be live in a few minutes. Thanks for bringing this to my attention @Glaived @la-magbanua

[2020-11-22 23:52] la-magbanua commented on #28
Thanks! It's working perfectly fine now.

[2020-11-24 01:53] joshmu opened #29 "VSCode/Vim clash: Cannot read property 'stop' of undefined"
Seems to be a clash with Vscode/Vim on the latest update of this extension.

[https://github.com/VSCodeVim/Vim/issues/5736](https://github.com/VSCodeVim/Vim/issues/5736)

[2020-11-24 02:17] #29 closed

[2020-11-24 02:17] meganrogge commented on #29
@joshmu resolved

[2020-11-24 02:38] joshmu commented on #29
Nice one! =)

[2020-11-24 16:39] tjx666 opened #30 "Exception has occurred: Error: Illegal argument: character must be non-negative"
I occur this exception when I debug my  extension. It happen when execute the following code:

[code]

Version info:

[code]

![screenshot_2020-11-25_00-38-41](https://user-images.githubusercontent.com/41773861/100124438-9d205700-2eb6-11eb-9c1d-7a197cbbdcac.png)

[2020-11-24 17:13] meganrogge commented on #30
looking into this now

[2020-11-24 17:20] #30 closed

[2020-11-24 17:20] meganrogge commented on #30
okay should be resolved in version 0.3.3

[2020-12-10 20:15] meganrogge opened #32 "Conversion within template string"
any time you're within a `${}` within backticks, it should convert

if the prior char is `\` it isn't a block

[2020-12-11 18:22] #32 closed

[2020-12-11 22:27] BradBailey-web opened #33 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `template-string-converter`
- Extension Version: `0.3.6`
- OS Version: `Linux x64 5.4.0-56-generic`
- VSCode version: `1.52.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2020-12-11 22:41] #33 closed

[2020-12-12 00:09] brunolemos opened #34 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `template-string-converter`
- Extension Version: `0.3.6`
- OS Version: `Darwin x64 20.1.0`
- VSCode version: `1.52.0`

`meganrogge.template-string-converter-unresponsive.cpuprofile.txt`: https://pastebin.com/T12kmX1L

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-high-cpu-load

[2020-12-12 01:02] meganrogge commented on #34
Hi @brunolemos this should be resolved in version 0.3.7. if it is not, please let me know. thanks

[2020-12-12 01:02] #34 closed

[2020-12-12 19:03] amiroff opened #35 "Svelte support"
This extension is so useful when usingReact that I miss it in personal Svelte projects. Is it possible to add support for Svelte components?

Cheers.

[2020-12-12 19:05] meganrogge commented on #35
So glad it's useful for you. If you could give me some examples of what would be useful in svelte, I can work on it.

[2020-12-12 19:11] amiroff commented on #35
Thanks for such quick feedback. Svelte uses a single file very much like HTML which has a traditional style and script scopes. Here is a live example: https://svelte.dev/examples#hello-world

There's a VSCode extension to enable support for .svelte files, it uses language server.  https://marketplace.visualstudio.com/items?itemName=svelte.svelte-vscode

[2020-12-12 19:19] meganrogge commented on #35
Cool thanks. I'll look into it.

[2020-12-14 14:04] knecht-d opened #36 "Issue with quotes inside of strings"
First of all I really like the extension.
I is really handy when you want to add an expression to an existing string.

Unfortunately I came across the following issue:

Say you have a string like this
[code]
and you add ${} between the inner quotes like this
[code]
I would expect, that the outer single quotes get converted to back-ticks, but unfortunately the inner ones get converted.

[code]

The

[2020-12-14 15:00] meganrogge commented on #36
Have you tried changing the setting convert outermost quotes to true?

[2020-12-14 15:46] meganrogge commented on #36
works as you expect for me with that setting

![recording (76)](https://user-images.githubusercontent.com/29464607/102102248-6e740d00-3de0-11eb-9d1f-e5ba05c60eca.gif)

[2020-12-14 15:46] #36 closed

[2020-12-14 19:54] meganrogge commented on #20
![recording (78)](https://user-images.githubusercontent.com/29464607/102128725-25818000-3e03-11eb-8629-ea37430b0864.gif)

pushing this change soon after doing some more testing @karlhorky

[2020-12-16 10:38] oliversalzburg opened #37 "Extension doesn't recognize existing template literals"
Given the following piece of code:

[code]

Place the caret in between the single quotes and type `${`. The code is converted to:

[code]

Which is not valid syntax.

[2020-12-16 14:48] meganrogge commented on #37
That looks like a regression from my recent changes. I'll fix it today.

[2020-12-16 15:07] meganrogge commented on #37
fixed! thanks for bringing this to my attention!

[2020-12-16 15:09] oliversalzburg commented on #37
That was quick. Thanks a lot 😀

[2020-12-16 15:11] meganrogge commented on #37
it's live now. you should just have to update and reload the window.

[2020-12-20 18:14] karlhorky commented on #20
Looks really good for this example @meganrogge , thanks!! 🙌

[2020-12-20 18:14] karlhorky commented on #20
One last unusual edge case which I didn't consider before 😬 :

Inside of opening tags in JSX, there may be the use of JavaScript expressions (in curly brackets). Since we back in regular JavaScript, the rules of the JSX behavior should not apply. One common example is usage of a `style` prop:

![Kapture 2020-12-20 at 19 10 48](https://user-images.githubusercontent.com/1935696/102720848-17e26380-42

[2020-12-20 19:08] meganrogge commented on #20
@karlhorky thanks for the examples. reopened this issue and will look into it.

[2020-12-22 18:41] younesaassila opened #38 "Add trigger when pasting `${}` inside a string"
Hi! Thank you for your extension. It's super useful! I do have a feature suggestion to *hopefully* make it even better:

The extension currently does not trigger on paste events, thus not converting strings to template strings after pasting a character sequence containing "`${}`". I think adding a paste event trigger would be a nice addition to fix this issue.

**Extension version:** 0.4.4
**VS Co

[2020-12-22 21:10] meganrogge commented on #38
Hey! Glad you like it and thanks for the suggestion. I considered doing something for paste, but thought it would be a super rare use case.

Can you give me an example you've encountered where this feature would be useful?

[2020-12-22 21:17] younesaassila commented on #38
I don't have a specific example in mind, but I find myself copy-pasting parts of existing strings with ${} around quite a lot when refactoring, and that's when I notice this lack of support for paste the most, but it's definitely not a huge problem. It would just be a nice addition to make the extension feel more complete.

[2020-12-23 02:46] madacol commented on #35
I simply added `"svelte"` to the supported languages, and it seems to work just fine
![image](https://user-images.githubusercontent.com/6379896/102953345-0fc52800-449f-11eb-9d92-f5a48a331274.png)

[2020-12-23 03:55] meganrogge commented on #35
@amiroff

[2020-12-23 03:55] #35 closed

[2020-12-23 11:48] amiroff commented on #35
@meganrogge @madacol yay! Tanks, cannot believe I somehow missed this, though I was sure to try this first before reporting. Now, rechecked, all is dandy!

[2020-12-24 05:11] meganrogge commented on #20
@karlhorky after re-reading this, I'm kind of confused. Are you saying in the example you provided it shouldn't convert to a JSX prop, even though it's following an `=` sign and is within a start and end tag? What is the difference here?

[2020-12-28 15:32] karlhorky commented on #20
Sorry, I have updated the examples above to include what happens now and what should happen.

The main takeaway here can be the following rules:

1. as soon as you hit `<\w` (regex) in a JavaScript file, you're inside an opening tag (special JSX opening tag rules)
2. as soon as you hit `{` inside that tag, you are back in JavaScript rules (until you hit a `<` again, recursively - which goes back t

[2020-12-29 10:54] oliversalzburg commented on #37
I'm sorry, but it seems like there has been another regression or the fix was only partially successful.

The previously reported case is fixed. However, the same behavior can still be observed for a second occurence of the pattern. For example:

[code]

Putting the `${` in between the second `''` will convert them to backticks again.

[2020-12-29 16:52] meganrogge commented on #37
Thanks I'll look into it

[2020-12-29 17:08] meganrogge commented on #37
I had a request to convert to a template string when '${' is added within an existing template string. So this is actually working as I'd expect. Do you want me to add a setting so that you can turn this template string within a template string conversion off?

[2020-12-29 17:08] #37 closed

[2020-12-29 19:16] oliversalzburg commented on #37
If there'd be an option like that, I'd appreciate it, but occassionally using _undo_ is still more convenient than having to convert to template strings manually 😊

[2020-12-30 04:49] meganrogge commented on #37
added a setting you can toggle now @oliversalzburg

[2020-12-30 11:05] oliversalzburg commented on #37
I'll give it a try 😀

[2021-01-12 12:53] spoenemann opened #40 "Project has no license"
This project doesn't have any license. Please add one, preferably an [open source license](https://opensource.org/licenses) such as MIT.

A license is mandatory for publishing your extension to [Open VSX](https://open-vsx.org/). Its publishing tool [ovsx](https://www.npmjs.com/package/ovsx) offers to automatically add the MIT license when you try to publish without license. See the [Open VSX Wiki]

[2021-01-12 16:15] meganrogge commented on #40
Hey thanks for pointing this out. I'm traveling today, but will add one tomorrow.

[2021-01-13 03:12] #40 closed

[2021-01-13 07:30] spoenemann commented on #40
Great! Could you also add `"license": "MIT"` to package.jon? That facilitates automatic processing.

[2021-01-13 21:50] meganrogge commented on #40
done!

[2021-01-18 16:51] chrmarti opened #41 "Unexpected replacement of double-quotes with back-ticks"
Issue Type: <b>Bug</b>

Place caret after $ and type opening curly brace:
[code]
Result:
[code]

Extension version: 0.4.7
VS Code version: Code - Insiders 1.53.0-insider (eaa959d34b863dec932077d94daece22504a396b, 2021-01-18T05:11:47.400Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz (16 x 2400)|
|GPU

[2021-01-18 23:11] meganrogge commented on #41
This was a feature request - the conversion to a template string within a template string. You can turn it off with the setting template-string-converter.convertWithinTemplateString

[2021-01-18 23:11] #41 closed

[2021-03-01 12:44] bennysce opened #42 "Command to toggle any string to template string without having to write ${"
I'm working on a project making lots of code translatable replacing tons of strings from

"Text" or <p>Text</p>

to

t\`Text\`

(due to the react i18n ttag library)

Would it be out of scope of this extension to add a hotkey command to at least be able to switch

"Text"

to

\`Text\`

just by having the cursor between the quotes and pressing CTRL+ALT+T or something (configurable, haven't checked w

[2021-03-03 12:55] JohnGurin commented on #42
Look at this extension https://github.com/Pustelto/Bracketeer

[2021-03-21 14:06] karlhorky commented on #16
I guess this feature was originally implemented in #19, but it doesn't seem to be working in `0.4.7` - was it reverted again?

If so, should this issue be re-opened?

[2021-03-21 15:22] meganrogge commented on #16
Do you have the setting enabled?

Nothing has changed

[2021-03-21 16:16] karlhorky commented on #16
Ah, it's a setting! Sorry, I'll try it out.

[2021-03-21 16:18] karlhorky commented on #16
Ah, it's a setting! Sorry, just trying it out...

Ok, seems to be working! 🙌  The only weird UX thing is that my cursor jumped to the end of the string when I removed the `}` in the `${}`.

[2021-03-24 10:59] karlhorky commented on #16
Oh, one more: If I create a new tagged template literal like this:

[code]

...as soon as I type the second backtick, it changes them to double quotes 😲

Should I open a new issue for this?

[2021-03-24 13:46] meganrogge commented on #16
Sure cc @xNocken, who added this setting and feature.

[2021-04-02 10:55] karlhorky opened #43 "Bugs with `template-string-converter.autoRemoveTemplateString`"
First of all, thanks @meganrogge for your continued work on this extension, and @xNocken for creating the feature to convert back to a regular string when the interpolation markers (`${}`) are removed (in #19, original issue: #16).

The new feature is unfortunately somewhat buggy, making the editor actually frustratingly unusable in some cases.

Here are some buggy cases:

1. Adding a variable wit

[2021-04-02 10:56] karlhorky opened #44 "Respect quote configuration with `autoRemoveTemplateString`"
With the `template-string-converter.autoRemoveTemplateString` option, it would be nice if this respected the user's settings:

- `.editorconfig` -> `quote_type`
- any [Prettier configuration files](https://prettier.io/docs/en/configuration.html) -> `singleQuote`
- more?

Or, in lieu of reading all of the configuration files, some additional ideas:

1. reading in the configuration for the current f

[2021-04-02 10:56] karlhorky commented on #16
Done, also found some more buggy cases: #43

[2021-04-02 13:31] xNocken commented on #43
I don't think that its a problem if it automatically removes the template strings on type. That's what the extension is for. If you have a normal string you can type normal strings with hardcoded content. If you then want to change it to a template string then just type ${ and its one. I already got used to using ' when writing template strings.

Making it that its on save would make it more annoy

[2021-04-02 14:46] karlhorky commented on #43
Good point, this is a downside of changing the whole extension to "transform on save". But it would still be valid for the `autoRemoveTemplateString` feature, which would not be affected by this.

I think the downside of this is not as bad as the UX problems with all issues reported above.

[2021-04-02 18:30] xNocken commented on #43
I don't think that there is a good reason to change it. The extensions purpose is that you can easily write strings without thinking about what type of string you need. The way you use it is just wrong. Just use double or single quotes whenever you want to make a string. The extension switches it to template strings if you need it.

[2021-04-17 08:22] nosyminotaur opened #45 "Issue when nested quotes"
When using a string like `"url("../img.jpg")"`, and then adding a `${}` inside it, it formats the inner string instead of the outer one.

If required, I can provide more similar examples.

[2021-04-29 02:56] meganrogge commented on #45
There's a setting which lets you choose whether the outer or innermost quotes get converted

[2021-04-29 02:56] #45 closed

[2021-05-19 03:52] meganrogge commented on #42
hey thanks so much for this issue. I think that's out of scope for this extension bc there are others out there that do what you want

[2021-05-19 03:52] #42 closed

[2021-05-24 03:38] laymonage opened #46 "Support multiple cursors"
Hi,

First of all, thanks for the extension, it's really helpful!

I encountered an issue when trying to use template strings with multiple cursors (e.g. press <kbd>Shift + Alt + ↑/↓</kbd>). If I type `$` followed by `{`, I would lose all cursors except the last one, and only the last cursor will have the correct result (changing to `` ` `` and have the `}` automatically inserted).

Would it be po

[2021-05-24 10:20] lukaszpolowczyk opened #47 "Bug with undoing changes - deletes the history of changes!"
Bug with undoing changes - deletes the history of changes!

**Steps to reproduce:**
1. I type the template string with `$ {dd}` in it
2. Delete the dollar stamp `$`
2. I type something else in the code
3. Undo changes - do `Ctrl + Z`
4. Undo gets stuck - I can't undo or redo changes
It deleted the history of changes!

**Steps on the gif:**
![template string extension bug2](https://user-images.gith

[2021-05-24 16:24] meganrogge commented on #46
Hey, this used to work. Thanks for bringing it to my attention. I'll look into the fix

[2021-05-24 16:38] meganrogge commented on #46
Okay I think I know what's going on here actually the extension assumes that the lines have a proper end to them (like a semi-colon). It relies upon this as a way to distinguish whether or not the current change is within backticks.

This is to prevent conversion from happening for example in this case (multi-line):

[code]
![recording - 2021-05-24T093650 476](https://user-images.githubusercontent

[2021-05-24 16:43] #46 closed

[2021-05-24 16:47] meganrogge commented on #47
Looks like you have the setting `template-string-converter.autoRemoveTemplateString` which seems to cause this issue. I'd reccomend turning that off (I personally don't use it).

[2021-05-24 16:47] #47 closed

[2021-05-24 16:51] lukaszpolowczyk commented on #47
@meganrogge Yes, I used this option.
Either remove this option or it needs to be repaired.

You closed the topic right away, so you probably don't plan on fixing it?

[2021-05-24 16:54] meganrogge commented on #47
I was not/am not a fan of that setting for the reason you pointed out and others. I closed this bc I don't think the extension should try to track whether or not the $ was removed. You'll see in the original feature request, I pointed out my concerns about doing that. I think the setting should be off for most users.

[2021-05-24 17:00] lukaszpolowczyk commented on #47
"I don't think the extension should try to track whether or not the $ was removed."

That this option should be removed - I understand that. You don't want to support her, that's it.

But you can see what happens when I modify the code normally - the edit change history is deleted!
In Svelte.js, I changed the string template to a regular mustache - that's why I removed the dollar sign.
Later I che

[2021-05-24 17:11] meganrogge commented on #47
I agree, which is why I have that setting off by default.

I will probably add a warning about this in the setting description. Will that be sufficient for you?

[2021-05-24 17:36] lukaszpolowczyk commented on #47
@meganrogge Well, if there's nothing else you can do.
Better to remove it completely, because it is not functional and is dangerous.

[2021-05-24 17:38] meganrogge commented on #47
Yeah I think you're right. I'll consider what to do, but might remove it entirely.

[2021-05-24 18:24] meganrogge commented on #47
done - it's removed as of the next version. probably the right call, thanks for bringing this to my attention

[2021-05-24 19:19] meganrogge commented on #43
I have removed the setting bc of complaints that it causes problems

[2021-05-24 19:19] meganrogge commented on #44
I've removed the setting, so am closing this

[2021-05-24 19:48] xNocken commented on #43
But why remove it? The setting is off by default and if someone has problems with it they can turn it off. And imo this feature is equaly as important as the main feature. And all problems I've seen someone have with this is just that they want to write `` without the ${}. But that's where you need to disable it. That's why it's an option.

[2021-05-24 21:04] meganrogge commented on #43
https://github.com/meganrogge/template-string-converter/issues/47 seems pretty bad.

[2021-05-24 21:16] xNocken commented on #43
The problem there is that all changes done by the add on is tracked in the history. What happens if you revert that is that the add on changes it directly back to the normal string. That means that this should also occur in the other direction. A workaround for that would probably be to ignore changes done via the code history feature.

[2021-05-24 21:18] meganrogge commented on #43
If you submit a PR that fixes this, I'll merge it @xNocken

[2021-05-25 08:00] karlhorky commented on #43
Yeah, I think there are a number of pretty critical issues with this feature @xNocken. If you feel so strongly about it, why not invest some time in refactoring it to address these problems?

[2021-05-25 10:06] xNocken commented on #43
I fixed the biggest issue that the history gets overwritten and another issue you mentioned that the cursor jumps. I think that are all issues the option has. the other "issue" with writing `` without ${} is not a bug. If you want to write code like that disable that option.

[2021-05-25 10:17] xNocken commented on #43
Ok there is one thing i didnt realise where you are right. If you want to use them to make multli line strings. But thats fixed in my newest pr. It only converts them back if you delete something while it is singleline. And i dont know how i would fix that. From what i can see its not possible to see what exaclty was changed if you delete something. You only know where something got deleted.

[2021-05-25 10:26] karlhorky commented on #44
Ok, in case the followup PR https://github.com/meganrogge/template-string-converter/pull/48 gets merged, maybe this can be reopened then.

[2021-05-25 16:49] meganrogge commented on #20
Hoping to get to this soon

[2021-05-25 17:02] xNocken commented on #47
The issue should be fixed now

[2021-06-09 14:57] innocenzi commented on #46
Hey, sorry to bump, does this mean this extension doesn't have (and won't) support for multiple cursors when not using semi-colons?

![](https://i.imgur.com/JbtReHb.gif)

[2021-06-12 00:29] meganrogge commented on #46
@innocenzi that's correct. if there's a high demand for such a feature, I'll consider supporting it under a setting, but think that most use cases involve semi-colon terminated lines

[2021-06-12 00:33] innocenzi commented on #46
I think semicolonless code is pretty common (eg. standardjs, or big projects like Vite), so I think this could be useful. But no big deal if you don't have the time for this

[2021-06-12 17:26] lachieh commented on #44
I was going to open a new issue but found this one. Is there plans to add support for converting back to single quotes instead of doubles when removing template strings? Would you accept a PR?

[2021-06-12 18:52] meganrogge commented on #44
Hey, thanks for asking. Would totally accept a PR for this.

[2021-08-09 11:57] levrik opened #49 "Non-existent 0.5.3 release"
VS Code offers 0.5.3 release to me but I can't find this release in this repo.
This seems fishy to me so you might want to confirm if this release is legit or not.

[2021-08-17 11:38] shivapoudel opened #50 "[Feature] Make this extension available for VSCode web"
I'm often using VSCode web on GitHub and would love to have the same feature available. Currently, this extension can't be installed?

[2021-08-20 02:57] meganrogge commented on #50
what error are you seeing? it's working for me on codespaces

[2021-08-20 02:58] meganrogge commented on #50
![recording (60)](https://user-images.githubusercontent.com/29464607/130172243-dc66d548-e8e3-4279-b69d-52e83960c8b6.gif)

[2021-08-20 03:07] #50 closed

[2021-08-20 05:36] shivapoudel commented on #50
@meganrogge Not working for repos open with `.` press still.
![image](https://user-images.githubusercontent.com/3774827/130184733-f6b8bc51-3612-4554-84c1-fbee55fb4271.png)

[2021-08-20 12:25] stuartleeks opened #51 "Bug: converter combines separate strings"
With `template-string-converter.convertOutermostQuotes` to `true`, when opening a curly brace after the `$` here:
[code]

the result is:
[code]

Note how it has changed the quote on the first string parameter, with the result that the two strings have now become a single string.

The result I expected is:
[code]

[2021-09-13 21:11] c3r38r170 opened #52 "PHP support"
Would it be possible to turn a $ followed by a letter inside a simple quotes string into a double quotes string and surround it with curly braces, if the language is PHP?
`$string = 'Hello $w|';` => `$string = "Hello {$w|}";`
Here's the [documentation](https://www.php.net/manual/en/language.types.string.php#language.types.string.parsing.complex) for further reading.
This would be very useful for m

[2021-10-31 16:07] karlhorky commented on #20
Great! When there's a new version, I'll test it out :)

[2021-10-31 16:24] meganrogge commented on #20
It has been released so lmk @karlhorky

[2021-10-31 16:38] karlhorky commented on #20
ok trying on `v0.5.4` now

[2021-10-31 16:42] karlhorky commented on #20
[code]

Hm, seems like this one is still open... Just tried in both a `.tsx` file and a `.js` file (both set as `JavaScript` and `JavaScript (React)` syntaxes)

[2021-10-31 18:11] meganrogge commented on #20
Worked well for most of your examples when I tested it. Seems like there are a lot of cases to cover

[2021-11-01 14:15] karlhorky commented on #20
Hm, interesting... for me, I haven't seen a single one that does work. Maybe the publish didn't work properly?

For example, here's another one that fails (which is a very common pattern in React code):

[code]

Should this issue be reopened? Or should I create a new issue with the content of my comment above?

[2021-11-01 18:40] meganrogge commented on #20
feel free to make a PR @karlhorky i'm quite occupied working on vscode at the moment, so could take me awhile to get to this

[2021-11-02 07:47] levrik commented on #49
There was no commit on the repo updating the version number to 0.5.3, this seemed fishy to me, that you might didn't release this version but someone else a malicious one.
The commit is there now and I'm seeing the same for the 0.5.4 release. Looks like you don't push after a release so the commit is missing on GitHub. All good now that I know that this is your usual routine.

[2021-11-22 16:56] isidorn opened #57 "Template string converter in Web please"
Hi Megan,

We recently announced VS Code for the Web at https://vscode.dev/, which provides a free, zero-install Microsoft Visual Studio Code experience running entirely in your browser.  You can learn more [here](https://code.visualstudio.com/docs/editor/vscode-web).

We'd like to ensure Template String Converter can run in the web, and we have a guide for enabling extensions for the web [here](h

[2021-11-23 19:06] meganrogge commented on #57
![recording - 2021-11-23T110609 996](https://user-images.githubusercontent.com/29464607/143087973-db047a63-4a6b-4c19-a192-74c483dc15a1.gif)

[2021-11-23 19:08] #57 closed

[2021-11-28 14:42] tjx666 opened #58 "Support disable this extension in glob files"
I have a project which contains ES3 code and TS code. In ES3 code file, I don't want to enable this extension.

[2021-12-03 15:19] karlhorky commented on #43
So just copying here from https://github.com/meganrogge/template-string-converter/pull/48#issuecomment-985570350 for visibility:

Ok, so it seems this feature is still somewhat buggy:

It erroneously makes the following tagged template string into a double-quoted string, when hitting backspace anywhere inside the template string.

Notice there are no interpolations. It's important that it stay as

[2021-12-03 15:20] meganrogge commented on #43
I have found that the extension feels very buggy when that setting is enabled. @xNocken want to fix it as @karlhorky suggests?

[2021-12-03 15:52] xNocken commented on #43
His suggestions would require the extension to keep track of the amount of ${} in every string and every time something is changed it needs to check the strings if the amount changed and if it was something above 0 and now is 0 then remove it. I don't quite remember what info vscode gives you if you delete something. I guess you get the position where something was deleted right? This allows the e

[2021-12-03 15:56] meganrogge commented on #43
I might see if I have time over the holidays to look into this. I agree it might not be worth it to process the whole file (could be tons of lines), but that might be needed for it to be totally context aware.

[2021-12-03 15:56] meganrogge commented on #43
@karlhorky why do you keep this setting enabled if it bothers you so much?

[2021-12-03 16:39] xNocken commented on #43
And i dont see how you can have so many problems with it. I havnt had a single problem with it since i made the first version. Except maybe ` inside template strings and template strings inside template strings. And your current problem

[code]

isnt this just the same as this?

[code]
The other problem you had that i fixed was you want to write a template string and type `` and it corrects it to

[2021-12-03 17:29] karlhorky commented on #43
Ah, because when it works, it's great! 👍 I think that it is the opposite feature of what this extension provides, and totally makes sense to have it!

[2021-12-03 17:33] karlhorky commented on #43
No, tagged template literals are different than calling a function.

Because tagged template literals (eg. with CSS) do not always have interpolation:

[code]

---

The reason that I have so many different cases is because I'm teaching web development beginners at our bootcamp, and aside from the live coding that I do in lectures (where I find a lot of these problems, with basic things that beginn

[2021-12-03 18:26] meganrogge commented on #43
I appreciate that you point out these issues and wish I had more time to spend working on solutions to them. I imagine it would be a confusing experience for students who are just learning to see these unexpected cases. 😢

[2021-12-03 20:28] xNocken commented on #43
@karlhorky
This may not be the right place to ask this but what is the advantage over using this method? The arguments it gives you look pretty weird. The first argument is an array with all normal text and all other arguments are the values typed in ${}.
I know this is very opinion based but couldn't you just call the function with func(['the text']) instead of func`the text`? For me it looks muc

[2021-12-04 10:50] karlhorky commented on #43
Yeah, philosophical discussions about why to use tagged template literals are pretty off topic, I agree.

If you're interested in why the industry is using this technology, maybe take a look into common use cases such as Emotion, Postgres.js, etc. It's a very nice DX ("Developer Experience"), and integrates with many tools, such as [`vscode-styled-components`](https://github.com/styled-components/

[2021-12-04 10:53] karlhorky commented on #43
@meganrogge No worries, you're doing a great job! ❤️

For now I usually avoid recommending this particular `template-string-converter.autoRemoveTemplateString` option for students because it's still pretty buggy. But I would hope that in the future, it could be the default! 🙌

[2021-12-06 15:53] meganrogge commented on #43
I'll try to work on this over the holidays.

[2021-12-08 11:08] RB-Lab opened #59 "Code OSS cannot activate extension after update to 0.5.4"
Hello! First of all, this is really must have extension, thanks for creating it!

After update to version `0.5.4` the extension just stops working. After some couple of times reinstalling extension, I've notice the tab "Runtime Status", and on it it was said "Not yet activated". After quite some more time, I've found the "Log (Extension Host)" sections in logs panel and there was error:
[code]
I w

[2021-12-08 16:50] meganrogge commented on #59
Hey thanks so much for this report and info. Can you try updating to version 0.5.5? It's working for me in that version.

[2021-12-08 16:51] meganrogge commented on #59
![recording - 2021-12-08T085109 400](https://user-images.githubusercontent.com/29464607/145249302-9db1f27c-d0ca-4f10-8a7a-e5b87d6675b8.gif)

[2021-12-08 20:41] RB-Lab commented on #59
Emm.. is it available? In my repo it seems that 0.5.4 is the latest version:
![image](https://user-images.githubusercontent.com/5694678/145281063-c42a27d3-8d5f-4366-9b5d-b6bc21caea29.png)
And here on GitHub [it seems to be the same](https://github.com/meganrogge/template-string-converter/blob/master/package-lock.json#L3).

[2021-12-08 20:44] meganrogge commented on #59
it says version 0.5.5 is available in the marketplace https://marketplace.visualstudio.com/items?itemName=meganrogge.template-string-converter

[2021-12-09 03:11] meganrogge commented on #59
also just tried rolling back to 0.5.4 and wasn't seeing the problem you describe there either.

[2021-12-09 12:43] RB-Lab commented on #59
Hm. Yeah, just downloaded 0.5.4 from VisualStudio Marketplace and there `out` folder is in place. Seem to be OpenVSX problem.

[2021-12-09 12:45] RB-Lab commented on #59
Ahh, damn, it's not even you who published the extension there!
![image](https://user-images.githubusercontent.com/5694678/145398788-f094f99d-3e72-4444-82e0-102bcb1624aa.png)
Ok. I'll address this issue to open-vsx than.

[2021-12-09 12:45] #59 closed

[2021-12-09 14:51] moloko opened #60 "Add trigger when wrapping word in template string"
First off, thanks for this extension - started using it today and it seems really useful... but one thing I was surprised didn't work was doing this:

https://user-images.githubusercontent.com/1249597/145416157-927e6941-5598-4f12-beb6-ff9083e4c536.mp4

It works fine if I do it like this:

https://user-images.githubusercontent.com/1249597/145416239-9093e9a1-93db-4c14-b569-fa929640bd69.mp4

But obvi

[2021-12-13 14:43] filiptronicek commented on #59
It looks like the `out/` directory gets no longer generated, webpack outputs its results to `dist/`.

This is the result after packaging with `vsce`:
![image](https://user-images.githubusercontent.com/29888641/145831806-e96fdb4d-e536-435c-bfaf-5c4313e86e37.png)

@meganrogge it looks like the wrong paths are here, or am I missing something? https://github.com/meganrogge/template-string-converter/bl

[2021-12-13 18:22] meganrogge commented on #59
I made this web-enabled, which is why there is that browser entry there. If you remove that and replace the scripts with:

[code]
it will work

[2021-12-28 04:14] #43 closed

[2021-12-28 04:43] meganrogge commented on #43
having trouble with vsce again, but will publish the extension with the above changes ASAP

[2021-12-29 02:09] meganrogge commented on #43
done

[2021-12-29 02:11] meganrogge commented on #43
here's what I did - only works for single line template strings at the moment, but won't have bugs for multi-line

if _within backticks and not within a template string_, AND _if previous version at the current cursor position used to be a template string_, then convert backticks to quotes

[2021-12-29 15:49] karlhorky commented on #43
This `template-string-converter.autoRemoveTemplateString` feature looks pretty good now, great work @meganrogge ! 🙌

[2021-12-29 16:05] karlhorky opened #61 "Extra Curly Braces Outside of JSX"
In Template String Converter `0.5.8` it seems like there's a new bug which is causing extra curly braces to appear outside of JSX code (in a `.tsx` file with `TypeScript React` syntax):

https://user-images.githubusercontent.com/1935696/147680948-b533aadd-acd7-41b5-8e99-cd4267df9297.mp4

Minimal code to reproduce (with two examples):

[code]

Maybe caused by features added for https://github.com/m

[2021-12-29 16:06] karlhorky commented on #20
In Template String Converter `0.5.8` it seems like there's a new bug which is causing extra curly braces to appear outside of JSX code (in a file with `TypeScript React` syntax):

https://user-images.githubusercontent.com/1935696/147680948-b533aadd-acd7-41b5-8e99-cd4267df9297.mp4

Opened https://github.com/meganrogge/template-string-converter/issues/61 for this.

[2021-12-29 17:44] meganrogge commented on #61
@karlhorky Thanks for your continued reporting of issues with good repro cases.

I do not use jsx props and it seems you have a vested interest in making sure the extension works well for them. I want this extension to work well, but have limited time at the moment.

Want to tweak this regex https://github.com/meganrogge/template-string-converter/blob/8aa1e44ffd2cdc65cacbd52f187845f760ca6521/src/e

[2021-12-29 21:21] #61 closed

[2021-12-29 21:29] meganrogge commented on #58
can you please provide me with an example?

[2021-12-30 02:18] tjx666 commented on #58
![image](https://user-images.githubusercontent.com/41773861/147716393-33cddaa4-aff4-4ab5-862f-0048d635fa35.png)

Because this extension, I can't using my custom logger like:

[code]

[2021-12-30 10:29] karlhorky commented on #61
Thanks for the fix in `0.5.9` @meganrogge !  🙌   Works well.

[2021-12-30 17:02] #58 closed

[2021-12-30 17:16] meganrogge commented on #20
I just noticed that in your original example, if you delete the comment line, it will work

[2021-12-30 17:20] meganrogge commented on #20
that's a case I don't have time for at the moment, but about to push a fix for the other cases you mention in this issue.

[2022-01-12 10:14] xNocken commented on #43
Since i updated to the newer version (0.6.0) the extension is extremly buggy. It doesnt convert them back and sometimes doesnt even convert them to template strings. I havnt found a way to trigger the not converting to template string consistently but the not converting from bug is consistent.

And  @meganrogge did you forget to push the 0.6.0 changes? because the package json only says 0.5.9

[2022-01-12 12:26] karlhorky commented on #43
@xNocken can you come up with a reproducible example where the buggy behavior is triggered?

[2022-01-12 13:06] meganrogge commented on #43
The changes I made were unrelated to the code that converts to template string, so I find that surprising @xNocken. As @karlhorky said, pls give some examples of what causes the unexpected behavior.

[2022-01-12 15:54] meganrogge commented on #43
@xNocken I do see that sometimes the back-ticks aren't replaced with quotes. I will look into that. This solution is still a vast improvement because the problematic bugs @karlhorky reported related to the original version are now fixed.

[2022-01-12 18:32] xNocken commented on #43
i wrote a simple prototype that we could maybe use to detect the current line. Its a function that takes in a line and returns all lines where they start, end and what type they are. The code can probably be improved but this would allow us to accuratly say what string we are really in. i dont handle multiline template strings and there might be some other edge cases i dont handle so this would ne

[2022-01-13 01:37] xNocken commented on #43
I updated it a bit since i posted it here to handle a few more edge cases. Should be easy to change it to take a cursor position and return the current string

[2022-01-13 02:05] meganrogge commented on #43
Please make a PR @xNocken and I'll test it. It should make use of the changes I made IE evaluating the previous document at the current position to see if it used to be a template string.

[2022-01-13 09:36] xNocken commented on #43
I dont have much time to create a pr and i think you would be able to do it much faster anyways because you know the code already.

[2022-01-14 00:14] truepatch commented on #60
Also,
1) When $ or { is deleted, replace backticks with quotes
2) Adds brackets to the template string for JSX properties

[2022-01-14 00:16] meganrogge commented on #60
@truepatch both of those can already happen with settings

[2022-01-14 00:26] truepatch commented on #60
That's exactly how it doesn't work.
1) ![auto-remove](https://user-images.githubusercontent.com/3313882/149430075-bac0b10e-ef62-477f-acf8-872fe4da3d45.gif)

2) ![jsx-props](https://user-images.githubusercontent.com/3313882/149430073-0741ffd5-e7f8-403e-ab1a-6754e2aa6808.gif)

[2022-01-14 00:28] meganrogge commented on #60
Oh you mean when wrapped?

[2022-01-14 04:26] truepatch opened #62 "[enhancement] add key bindings for insert interpolation symbol"
I could not find an adequate extension to implement this improvement.
It would be great if the interpolation of the selected text worked, and a second click inside the interpolated text removed the characters.

command for keybindings: **ctrl/cmd+shift+4**
![image](https://user-images.githubusercontent.com/3313882/149449573-feb03db9-89ca-41cc-9d22-a84ba6862ea8.png)

` selected_text_or_word  --> ke

[2022-01-14 07:59] xNocken commented on #43
I have an update for the not converting to template strings bug. Randomly when i type stuff and just write '' and inside it a ${ it does not convert them. Removing the ${ an rewriting it doesnt fix is and rewriting the whole string doesnt work either. But after some time the bug just disappears and it converty them when i type something in it.

[2022-01-14 22:55] meganrogge commented on #43
@xNocken can you pls clarify the repro steps?

[2022-01-15 01:22] xNocken commented on #43
## Expected behavior
it converts strings to template strings

## Actual behavior
it doesnt convert string to template strings

## How to reproduce
use the extension and be (un)lucky

## Attempts to fix it
- everything except restarting vscode

[2022-01-15 07:44] karlhorky commented on #43
@xNocken to create a good, reproducible example, it can help to start with code.

If you want to put effort into creating a new issue that will capture the problem so that the bug gets fixed, try this:

1. The next time that the buggy behavior happens for you, backtrack a bit (undo a few times until before the bug), and then perform the exact actions needed to make it happen again
2. Copy the code

[2022-01-15 21:55] xNocken opened #63 "Strings not converting when object destructuring is used above"
![Animation](https://user-images.githubusercontent.com/33768764/149638888-5ab39621-f86a-40eb-ab17-06b3e37093dc.gif)

[2022-02-25 07:01] xNocken commented on #63
Any updates on this?

[2022-02-25 17:41] meganrogge commented on #63
Nope, feel free to fix it. I don't have time at the moment

[2022-03-26 10:33] erkage opened #65 "Is Vue file support available"
Is it supposed to work in `.vue` files right now? Thanks!

[2022-03-26 10:35] erkage commented on #65
Ohh sorry, after a OS restart it's working...

[2022-03-26 10:35] #65 closed

[2022-03-26 10:46] erkage opened #66 "Escaped tick/quote converted to backtick instead of string end's one"
![Screen Recording 2022-03-26 at 10 40 18](https://user-images.githubusercontent.com/4376696/160235989-190a6d98-4f2a-4125-8525-a28ebab199cc.gif)

[2022-03-26 14:50] meganrogge commented on #66
I think setting template-string-converter.convertOutermostQuotes to true will fix that

[2022-03-27 16:43] erkage commented on #66
Thanks for the reply!
Yes, it's fixed it but this is intentional or accidental? 🙂
I mean the escaped ones may be should not count as "real" quotes!?

[2022-04-02 20:25] ImRodry opened #67 "Extension breaks on double quoted strings surrounded by apostrophes"
I just had the following edge case happen to me:
Original string
`"Couldn't find user ${user}. Are you sure they're on the server?"`
Upon typing ${user}, the extension converted the two apostrophes (`'`) in "Couldn't" and `they're` to template strings, instead of converting the double quotes which were the ones declaring the current string, leaving me with this:
`"Couldn`t find user ${user}. Are y

[2022-04-03 18:51] ImRodry opened #68 "Extension attempts to create template strings on already template string literals"
If you have a template string that just so happens to have quotes on either side of where you're typing, the extension will attempt to create a template string between those, completely breaking the code in between. Example:
[code]

[2022-04-04 15:10] meganrogge commented on #67
Yeah it's pretty hard to account for cases like this. The setting `template-string-converter.convertOutermostQuotes` would help you though

[2022-04-29 09:19] snips-dev opened #69 "How to enable for .vue files?"
Cant make it work on .vue files

[2022-04-29 15:37] meganrogge commented on #69
add to `template-string-converter.validLanguages`

[2022-04-29 15:37] #69 closed

[2022-04-29 19:10] bsaggese14 opened #70 "Extension incorrectly adds brace to {some-text} when $ is added"
"test {me}" -> "test ${me}" becomes -> `test ${}me}` with an extra brace

[2022-04-29 19:13] meganrogge commented on #70
what are your settings? gif would be helpful

[2022-04-29 19:17] bsaggese14 commented on #70
<img width="480" alt="image" src="https://user-images.githubusercontent.com/7637183/166037074-c95f26c5-8766-4381-8e58-2fa3daca1f96.png">

[2022-04-29 19:19] bsaggese14 commented on #70
![ezgif com-gif-maker (3)](https://user-images.githubusercontent.com/7637183/166043974-c27277e2-5517-4e73-86c3-b13c1613bc75.gif)

[2022-05-02 14:19] KevinDenys opened #71 "addBracketsToProps on tsx file not working"
https://user-images.githubusercontent.com/17174443/166249702-4dddf872-cda1-48f8-b117-90c4e8899aca.mov

Settings:

![image](https://user-images.githubusercontent.com/17174443/166249778-57d7691c-f329-4beb-9590-55206ec1d081.png)

Code:

`<div className='test'></div>;`

[2022-06-24 19:36] ayoreis opened #73 "Support tag functions"
It'd be nice when I write a name of a [tag function](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals#tagged_templates) before a string, Template String Converter would automatically switch quotes with backticks:
[code]

[2022-07-03 23:26] VyrekXD opened #74 "Detecting \` and not removing '"
If you put this en your code "hello!" and you try and put this "\`${" it doesnt replace the " with `

[2022-07-05 13:34] meganrogge commented on #74
there's a setting for that - something like convert within backticks

[2022-07-05 13:34] #74 closed

[2022-07-05 14:45] VyrekXD commented on #74
Oh, i dont see this config can u provide more info pls

[2022-09-02 13:27] vicasas opened #77 "Extension Template String Converter not working"
The extension unexpectedly stopped working in my vscode editor, when adding `${` to a string it does not make the change.

Visual Studio Code: v1.70.2
MacOS Monterey v12.5.1 (Chip M1)

[2022-09-07 22:13] meganrogge commented on #77
could you pls provide a gif?

[2022-09-08 00:05] vicasas commented on #77
I have the extension installed and have to reinstall and the problem persists.

![Sep-07-2022 20-03-11](https://user-images.githubusercontent.com/57921784/189005565-a9188779-1b59-41b7-b0f6-6f6295cba1c1.gif)

[2022-09-08 02:13] meganrogge commented on #77
it expects a properly formed line of code IE a semicolon following that expression

[2022-09-08 02:15] meganrogge commented on #77
it's hard to repro without your exact code - it's working for me

[2022-09-08 02:16] meganrogge commented on #77
also what are your settings?

[2022-09-08 12:30] vicasas commented on #77
I will close this, for some unknown reason after many days without working it worked again as expected. Thanks.

[2022-09-08 12:30] #77 closed

[2022-09-11 18:39] Sheraff commented on #67
If this is not the default option, what is the downside of activating that? Is it a few edge-cases? Some specific languages with intricate quote syntax? Just a matter of preference?

[2022-09-12 13:35] meganrogge commented on #67
There have been requests to convert the innermost quotes. It's a matter of preference, thus the setting

[2022-11-06 09:41] danil0110 opened #80 "autoRemoveTemplateString is not working"
The option `autoRemoveTemplateString` is on, but still it doesn't working. Here is the issue:

![CleanShot 2022-11-06 at 10 38 26@2x](https://user-images.githubusercontent.com/38916225/200161705-4298b1cf-be1d-4def-8f9b-6fa24078584c.jpg)

Visual Studio Code 1.73.0
Template String Converted v0.6.0